// Esquema de colores

//Primer esquema de color
$white: #FFF;
$snow: #FAFAFA;
$quicksilver: #A0A0A0;
//Segundo esquema de color
$jellybean: #E56353;
$salmon: #E97F72;
$pastelpink: #F0A9A1;
//Tercer esquema de color
$granitegray: #686963;
$taupegray: #91918D;
$gray: #BABAB8;

//Tipografia
$raleway: 'Raleway', sans-serif;

//Pesos de la Tipografia
$extralight: 200;
$regular: 400;
$bold: 700;

//Tamaños de la Tipografia
$xx-large: 100px;
$x-large: 70px;
$large: 50px;
$medium: 21px;

//Tamaños de los botones
