.form {
  height: 250px;
  background: $jellybean;
  //se ponen juntas para centrar
  display: flex;
  justify-content: center;
  align-items: center;
  //se ponen juntas para centrar
  &__text {
    text-align: center;
    color: $white;
    font-weight: $bold;
    font-size: $medium;
    position: relative;
  }
  &__button {
  border-radius: 25px;
  background: $white;
  width: 230px;
  height: 40px;
  color: $granitegray;
  font-size: 21px;
  font-weight: 400;
  position: absolute;
  margin-top: 60px;
  }
}
